<button
    class="theme-eaduems-color-mode"
    type="button"
    data-theme-eaduems-color-mode-toggle
    aria-pressed="false"
    aria-label="{{#str}}colormodetoggle, theme_eaduems{{/str}}"
    title="{{#str}}colormodetoggle, theme_eaduems{{/str}}"
>
    <span class="theme-eaduems-color-mode__icon fa fa-sun-o" aria-hidden="true"></span>
    <span class="theme-eaduems-color-mode__track" aria-hidden="true">
        <span class="theme-eaduems-color-mode__thumb"></span>
    </span>
    <span class="theme-eaduems-color-mode__icon fa fa-moon-o" aria-hidden="true"></span>
    <span class="visually-hidden" data-theme-eaduems-color-mode-label>{{#str}}colormodetoggle, theme_eaduems{{/str}}</span>
</button>
