<section class="theme-eaduems-bottomfooter">
    <div class="container-xl theme-eaduems-bottomfooter__inner">
        <p>{{copyright}}</p>
        <a href="{{support_url}}">{{support_label}}</a>
    </div>
</section>
