<section class="theme-eaduems-section theme-eaduems-finalcta">
    <div class="container-xl">
        <div class="theme-eaduems-finalcta__panel">
            <div class="theme-eaduems-finalcta__content">
                <h2>{{title}}</h2>
                <p>{{intro}}</p>
            </div>
            <div class="theme-eaduems-finalcta__actions">
                {{#primary_cta}}
                <a class="theme-eaduems-button theme-eaduems-button--primary" href="{{url}}">{{label}}</a>
                {{/primary_cta}}
                {{#secondary_cta}}
                <a class="theme-eaduems-button theme-eaduems-button--secondary" href="{{url}}">{{label}}</a>
                {{/secondary_cta}}
            </div>
        </div>
    </div>
</section>
