{{!
    Floating shortcut for returning to the top of the page.
}}
<button class="theme-eaduems-back-to-top"
        type="button"
        data-theme-eaduems-back-to-top
        hidden
        aria-label="{{#str}}backtotop, theme_eaduems{{/str}}"
        title="{{#str}}backtotop, theme_eaduems{{/str}}">
    <span class="fa fa-chevron-up" aria-hidden="true"></span>
    <span class="visually-hidden">{{#str}}backtotop, theme_eaduems{{/str}}</span>
</button>
