<article class="theme-eaduems-card theme-eaduems-card--feature">
    <div class="theme-eaduems-card__media theme-eaduems-card__media--feature">
        <span>{{title}}</span>
    </div>
    <div class="theme-eaduems-card__content theme-eaduems-card__content--centered">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="{{url}}">{{#linklabel}}{{linklabel}}{{/linklabel}}{{^linklabel}}{{#str}}catalogcta, theme_eaduems{{/str}}{{/linklabel}}</a>
    </div>
</article>
